<div class="seitenleiste">
  <div class="seiten-ueberschrift">Dishes</div>

  <!-- Filter-Button -->
  <div class="filter-button-container">
    <button (click)="toggleDropdown($event)">Filter</button>
  </div>

  <!-- Dropdown-Menü mit drei Spalten für Gänge, Küche und Nährwert -->
  <div class="dropdown" *ngIf="isDropdownOpen">
    <div class="dropdown-content">
      <!-- Spalte für Gänge -->
      <div class="filter-column">
        <h3>Gänge</h3>
        <div *ngFor="let art of getGerichtartenTags(); trackBy: trackById">
          <p-checkbox [(ngModel)]="art.selected" [binary]="true" (ngModelChange)="toggleTag(art);" inputId="type_{{art.label}}"></p-checkbox>
          <label for="type_{{art.label}}">{{ art.label }} ({{ art.count }})</label>
        </div>
      </div>

      <!-- Spalte für Küche -->
      <div class="filter-column">
        <h3>Küche</h3>
        <div *ngFor="let type of getKuechenTags(); let i = index">
          <p-checkbox [(ngModel)]="type.selected" [binary]="true" (ngModelChange)="toggleTag(type);" inputId="type_{{i}}"></p-checkbox>
          <label for="type_{{i}}">{{ type.label }} ({{ type.count }})</label>
        </div>
      </div>

      <!-- Spalte für Nährwert -->
      <div class="filter-column">
        <h3>Nährwert</h3>
        <div *ngFor="let type of getNaehrwertTags(); let i = index">
          <p-checkbox [(ngModel)]="type.selected" [binary]="true" (ngModelChange)="toggleTag(type);" inputId="type_{{i}}"></p-checkbox>
          <label for="type_{{i}}">{{ type.label }} ({{ type.count }})</label>
        </div>
      </div>
    </div>
  </div>
</div>
