{
  "rules": {
    "jsdoc/require-jsdoc": [
      "warn", // oder "error", um einen Fehler auszugeben
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true,
          "ArrowFunctionExpression": true,
          "FunctionExpression": true
        }
      }
    ],
    // Optional: Stelle sicher, dass JSDoc-Formatierung überprüft wird
    "jsdoc/check-syntax": "warn",
    "indent": [
      "error",
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ]
  }
}
