# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# SonarLint-spezifische Dateien
sonarlint/
.sonarlint/
sonar-report.json

# Ignoriere alle XML-Dateien
*.xml

# Ignoriere spezifische XML-Dateien
path/to/your/file.xml

# Ignoriere Build-Ausgaben für Java-Projekte
/target/
/build/

# Ignoriere Eclipse spezifische Dateien
.csettings/


# Ignoriere NetBeans spezifische Dateien
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Ignoriere IntelliJ IDEA spezifische Dateien
*.iml

# Ignoriere temporäre Dateien
*.tmp
*.temp

# Ignoriere Log-Dateien
*.log

# Ignoriere Maven spezifische Dateien
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Ignoriere Gradle spezifische Dateien
.gradle/
