<!--
[isMobile] Eigenschaftsbindung, die die CSS-Klasse "isMobile" an app-listen-container bindet
"isMobile" ist die Eigenschaft in Komponentenklasse, die bestimmt, ob die Klasse angewendet wird oder nicht
 <app-listen-container [isMobile]  = "isMobile" ></app-listen-container>
-->

<!-- Mobile Layout -->
<!--
<div class="router-outlet-mobile"  *ngIf="isMobile">
  <router-outlet >
    <app-listen-container  ></app-listen-container>
  </router-outlet>
</div>
-->


<router-outlet></router-outlet>
