# System directories to ignore
Anwendungsdaten/
AppData/
AppData/Local/
AppData/Local/Anwendungsdaten/
AppData/Local/Microsoft/
AppData/Local/Microsoft/Windows/INetCache/
AppData/Local/Microsoft/Windows/INetCache/Content.IE5/
AppData/Local/Microsoft/Windows/INetCache/Low/Content.IE5/
AppData/Local/Microsoft/Windows/Temporary Internet Files/
AppData/Local/Temporary Internet Files/
AppData/Local/Verlauf/