<button class="tab p-0 pl-1" >
  <div class="row-wishadish">
    <button class="button-wishadish" (click)="toggleOverlayAI($event)"><i class="pi pi-android"></i></button>
    <button class="button-wishadish" (click)="toggleOverlay($event)">ZUF</button>
  </div>
  <span>Wish-A-Dish</span>
  <span *ngIf="selectedTags.length > 0" class="ki-label">Filter</span>
</button>

<!--TODO: Bei "Suchen" soll die  KI API (Mistral) abgefragt werden und es soll auf einer card einen text formulieren für ein rezept.
diese card, kann dann hinzugefügt werden oder nicht in den listeninhalt
Standardmäßig ist nur das Mistral-Logo mit Essen abgebildet für eine Kachel, die in Listeninhalt übernommen wurde-->
<div *ngIf="isAIOverlayVisible" class="ai-overlay-backdrop" (click)="closeOverlayButton($event)"></div>

<div *ngIf="isAIOverlayVisible" class="ai-overlay" (click)="stopPropagation($event)">
  <div class="ai-overlay-content">
     <textarea
       [(ngModel)]="rezeptWunsch"
       placeholder="..."
       rows="6"
     ></textarea>
    <div class="ai-overlay-buttons">
      <button
        (click)="sucheRezeptNachWunsch()"
        [ngClass]="{'button-wishadish': true, 'overlay-open': isAIOverlayVisible}"
      >Suchen</button>
      <button class="ai-overlay-close-button" (click)="closeOverlayButton($event)">X</button>
    </div>
  </div>
</div>

<div *ngIf="isOverlayVisible" class="custom-overlay-spoon" (click)="closeOverlay($event)" (touchstart)="closeOverlay($event)">
  <div class="overlay-content-spoon" (click)="stopPropagation($event)">

    <button class="overlay-close-button" (click)="closeOverlayButton($event)">x</button>

    <div class="overlay-content-inner">

      <div *ngIf="isLoading" class="loading-spinner">
        <span>Lädt Dishes...</span>
      </div>

      <div *ngIf="selectedTags.length == 0 && rezepte.length > 0;" class="overlay-content-überschrift">
        <span>Zufällige Rezeptvorschläge</span>
      </div>

      <div *ngIf="selectedTags.length != 0 && rezepte.length > 0;" class="overlay-content-überschrift spoon-tags-ueberschrift" >
        <span>{{ selectedTags.join('; ') }}</span>
      </div>

      <div *ngIf="rezepte && rezepte.length > 0; else noRecipes" class="recipe-list">
        <div *ngFor="let rezept of rezepte" class="recipe-item">
          <button
            pButton
            class="spoon-button"
            (click)="addRecipe(rezept)"
            [disabled]="isLoading || isClicked"
            [ngClass]="{
              'selected-tags': selectedTags.length > 0,
              'no-tags': selectedTags.length === 0,
              'disabled-spoon-button': isLoading || isClicked}">
            <i class="pi pi-plus"></i>
          </button>

          <div class="spoon-recipe-image-container">
            <img *ngIf="rezept.bildUrl" [src]="rezept.bildUrl" [alt]="rezept.name" class="recipe-image"  (click)="openUrlSpoon(rezept.bildUrl || '', 'image')" />

            <div class="recipe-title-overlay" (click)="openUrlSpoon(rezept.onlineAdresse || '', 'recipe')">
              <div class="recipe-tags" *ngIf="rezept.tags && rezept.tags.length > 0; else noTags">
              <span class="gang-spoon" [ngClass]="{'selected-tags-font-color': selectedTags.length > 0, 'no-tags-font-color': selectedTags.length === 0}">
                {{ rezept.tags | formatTags }}</span>
              </div>

              <ng-template #noTags>
                <p class="gang-spoon" (click)="openUrlSpoon(rezept.bildUrl || '', 'image')"  [ngClass]="{'selected-tags-font-color': selectedTags.length > 0, 'no-tags-font-color': selectedTags.length === 0}"></p>
              </ng-template>

              <span class="spoon-trennstrich" *ngIf="rezept.tags && rezept.tags.length > 0">|</span>
              <span class="recipe-name" (click)="openUrlSpoon(rezept.onlineAdresse || '', 'recipe')">{{ rezept.name }} </span>
            </div>
          </div>
        </div>
      </div>

      <ng-template #noRecipes>
        <div class="no-recipes-message">Keine Rezepte verfügbar</div>
      </ng-template>
    </div>
  </div>

  <div *ngIf="isAIInputVisible" class="custom-overlay-ai-input" (click)="closeOverlay($event)" (touchstart)="closeOverlay($event)">
    <div class="overlay-content-ai-input" (click)="stopPropagation($event)">
      <button class="overlay-close-button" (click)="closeOverlayButton($event)">XXXX</button>
      <div class="overlay-content-inner">
        <h2>Gib deinen Rezeptwunsch ein</h2>
        <input type="text" #wunschInput [(ngModel)]="rezeptWunsch" placeholder="z.B. schnelle vegetarische Pasta">
        <button (click)="starteSuche()">Suchen</button>

      </div>
    </div>
  </div>

  </div>
