<!--<div class="direct-image-cropper-overlay">
  <div class="direct-image-cropper-content">
   &lt;!&ndash; <h2>Bild zuschneiden</h2>&ndash;&gt;
    &lt;!&ndash; Hier kommt das Cropping-Tool hin &ndash;&gt;
&lt;!&ndash;    <button (click)="onClose()">Schließen</button>&ndash;&gt;
  </div>
</div>-->


<!--

<div class="image-cropper-container">
  <div class="neues-rezept">Bild zuschneiden</div>
  <div class="cropper">
      <img #imageElement [src]="imageUrl" crossOrigin="anonymous" alt="Bild zur Bearbeitung" />
  </div>
  <div class="actions">
    <button class="cropper-button button-transparent" (click)="close()">Abbrechen</button>
    <button class="cropper-button button-filled" (click)="cropImage()">Zuschneiden</button>
  </div>
</div>

-->
