<div>
  <h1 class="flex justify-content-center pb-3">Datenschutzerklärung für DishList</h1>

  <p>Diese App wird von <strong>Alexander Durach</strong> betrieben, und ich verpflichte mich, Ihre Privatsphäre zu schützen. Diese Erklärung erläutert, wie ich personenbezogene Daten sammle und verwende.</p>

  <h2>Gesammelte Daten:</h2>
  <ul>
    <li><strong>E-Mail-Adresse:</strong> Zur Erstellung eines Benutzerkontos und zur Kommunikation mit den Nutzern. Die E-Mail-Adresse wird auf den Servern von Amazon Web Services (AWS) gespeichert.</li>
    <li><strong>Bilder:</strong> Werden für die dauerhafte Speicherung und Darstellung von Rezepten innerhalb der App verwendet. Die Speicherung der Bilder erfolgt ebenfalls auf den Servern von AWS.</li>
  </ul>

  <h2>Verwendung der Daten:</h2>
  <ul>
    <li>Die E-Mail-Adresse wird verwendet, um ein Benutzerkonto zu erstellen und den Zugang zu den gespeicherten Rezepten zu ermöglichen.</li>
    <li>Die Bilder werden zur Anzeige und Verwaltung von Rezepten verwendet und auf AWS gespeichert.</li>
  </ul>

  <h2>Weitergabe von Daten:</h2>
  <p>Es werden keine personenbezogenen Daten an Dritte weitergegeben, außer es ist gesetzlich erforderlich oder notwendig, um die Funktionen der App bereitzustellen.</p>

  <h2>Ihre Rechte:</h2>
  <ul>
    <li>Sie haben das Recht, jederzeit auf die von mir gesammelten Daten zuzugreifen, diese zu berichtigen, zu löschen oder die Verarbeitung der Daten zu widerrufen.</li>
  </ul>

  <div class="contact-info">
    <h2>Kontakt:</h2>
    <p>Alexander Durach, <a href="mailto:alexdurach@hotmail.de">alexdurach&#64;hotmail.de</a></p>
  </div>
</div>
