<div class="veri-screen">
  <div class="zentriertes-formular-veri">
    <button class="zurueck-button" (click)="navigateRegistrierung($event)" style="position: absolute; top: 10px; left: 10px;"><</button>
  <h2 class="mb-0 flex justify-content-center">Verifizierungscode eingeben</h2>
  <p class="flex p-4 mb-3 text-center">Bitte geben Sie den sechsstelligen Code ein, den Sie per E-Mail erhalten haben.</p>
  <div class="p-field">
    <input class="inputfeld-verifikation" placeholder="6-stelliger Code" type="text" [(ngModel)]="verifikationCode" required name="email" pInputText>
  </div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <!-- Erfolgsnachricht anzeigen, wenn der Code erfolgreich verifiziert wurde -->
    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
    <div class="buttons-container-verifikation">
      <button class="general-button-verfikation" (click)="verifyCode($event)">Verifizieren</button>

<!--      <button class="general-button-verfikation" (click)="verifyCode($event)">Erneut senden</button>-->
    </div>
  <p id="errorMessage" class="error" style="display: none;"></p>
</div>
</div>
