<div class="landing-seite" >
  <div class="zentriertes-formular-landing" *ngIf="backgroundLoaded">
    <img *ngIf="!isMobile" src="assets/Dishlist_title.webp" alt="DishList Logo Mobile" class="landing-seiten-titel">
    <button class="landing-button-reg"  pButton (click)="navigateReg($event)">Konto erstellen</button>
    <button class="landing-button-anmeldung"  pButton (click)="navigateAnmeldung($event)">Anmelden</button>
    <div class="landing-datenschutz">
      <p>Indem du fortfährst, erklärst du dich mit unserer
      <a routerLink="/datenschutzerklaerung">
        Datenschutzerklärung</a> einverstanden.</p>
    </div>
  </div>
</div>


