<div>
  <div class="zentriertes-formular-anmeldung">
  <div class="seiten-ueberschrift">DishList</div>
  <p style="color: white;text-align: center; width: 80%">Wie deine Daten verarbeitet werden, erfährst du unter <a routerLink="/datenschutzerklaerung"  style="text-decoration: underline; color: white;">Datenschutz</a>.</p>
  <button class="general-button-landing-reg"  pButton (click)="navigateReg($event)">Konto erstellen</button>
  <button class="general-button-transparent"  pButton (click)="navigateAnmeldung($event)">Anmelden</button>
</div>
</div>
