<div class="screen">
  <div class="zentriertes-formular">
    <h1 (click)="navigateListe($event)">Anmeldung</h1>
    <form (ngSubmit)="onLogin()">
      <div class="p-fluid">
        <div class="p-field">
          <input class="inputfeld" placeholder="Nutzername" type="text" [(ngModel)]="username" required name="username" pInputText>
        </div>
        <div class="p-field">
          <input class="inputfeld" placeholder="Passwort" type="password" [(ngModel)]="password" required name="password" pInputText>
        </div>
        <button class="general-button" type="submit" pButton>Anmelden</button>
        <p class="registrierung-hinweis">
          Noch kein Konto? <a routerLink="/registrierung">Hier registrieren</a>
        </p>
      </div>
      <div class="anmeldung-validierung">
      <div *ngIf="loginSuccess" class="success-message">
        Login erfolgreich!
      </div>
      <div *ngIf="loginError" class="error-message">
        Login fehlgeschlagen. Bitte überprüfen Sie Ihre Anmeldeinformationen.
      </div>
      </div>
    </form>
  </div>
</div>
