<div class="screen">
  <div class="zentriertes-formular">
    <h1 (click)="navigateListe($event)">Anmeldung</h1>

    <!-- Formular für die Anmeldung -->
    <form *ngIf="!isAuthenticated" (ngSubmit)="onLogin()">
      <div class="p-fluid">
        <div class="p-field">
          <input class="inputfeld" placeholder="E-Mailadresse" type="text" [(ngModel)]="email" required name="email" pInputText>
        </div>
        <div class="p-field password-container">
          <input class="inputfeld" [type]="inputType" placeholder="Passwort" [(ngModel)]="password" required name="password" pInputText (focus)="onPasswordFocus()" (input)="onPasswordChange()">
          <i
            class="pi toggle-password-icon"
            [ngClass]="{'pi-eye': !showPassword, 'pi-eye-slash': showPassword}"
            (click)="togglePasswordVisibility()">
          </i>
          <small *ngIf="passwordInvalid && passwordTouched" class="error-message">Das Passwort besteht aus mindestens 8 Stellen, einer Zahl und einem Sonderzeichen.</small>
        </div>
        <button class="general-button" type="submit" pButton>Anmelden</button>
        <p class="registrierung-hinweis">
          Noch kein Konto? <a routerLink="/registrierung">Hier registrieren</a>
        </p>
      </div>
      <div class="anmeldung-validierung">
        <div *ngIf="loginSuccess" class="success-message">
          Login erfolgreich!
        </div>
        <div *ngIf="loginError" class="error-message">
          Login fehlgeschlagen. Bitte überprüfen Deine Anmeldeinformationen.
        </div>
      </div>
    </form>

<!--    &lt;!&ndash; Authentifizierter Zustand &ndash;&gt;
    <div *ngIf="isAuthenticated">
      <div>
        <p>Hallo, <strong>{{ userName }}</strong>!</p>
        <br>
        <p>Hier sind alle OIDC-Eigenschaften: {{ oidcProperties }}</p>
        <br>
        <button (click)="onLogout()">Abmelden</button>
      </div>
    </div>-->
  </div>
</div>
