@charset "UTF-8";

@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import 'primeflex/primeflex.css';


$color-start: #f6a257;
$color-end: #b34f09;

$primary-color: #b61919;
$secondary-color: #e65727;
$tertiary-color: #e6e5e5;

$detail-color: #000000; ;
$detail_2-color: #221f1f;

body {
  background: linear-gradient(to bottom,$color-start, $color-end);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin:2% 30%;
}


h1{
  color: white;
}

a {
  color: black;
  text-decoration: none;
}



* {font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;}

.router-outlet-wrapper{
  background: black;
}

.general-button {
  margin-top:40px !important;
  width: 200px;
  font-weight: bold;
  height: 50px;
  background-color: $detail_2-color !important;
  color: $tertiary-color !important;
  border: 1px transparent solid !important;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  outline: 2px solid $detail_2-color;
  outline-offset: 2px;

}






@media screen and (max-width: 750px) {
  body {
    margin: 0
  }
}

/*Intro*/

.splash-screen{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  transition: opacity 3s ease-in-out;
}

.splash-screen.fade-out {
  opacity: 75%;
}


@keyframes fadeInAndCook {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.splash-titel{
  font-size:30px;
  font-family: "Cooper Black";
  margin: 15px 0;

  color:white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInAndCook 2s ease-in-out;

  text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey,
    -1px  1px 0 grey,
    1px  1px 0 grey;
}

.splash-image {
  max-width: 50%;
  margin-left:10px;
  height: auto;
  animation: fadeInAndCook 2s ease-in-out;
}

.splash-image-turnedaround{
  max-width: 50%;
  left: 10px;
  height: auto;
  animation: fadeInAndCook 2s ease-in-out;


}


.intro-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  padding-top: 20px;
  box-sizing: border-box;
  background-color:$detail-color;
}

.intro-slogan{
  font-size:30px;
  font-weight:bolder;
  color:white;
  padding: 0px 30px;
  text-align:center;
  margin-bottom: 120px;
}

.intro-text{
  margin-bottom: 5rem;
  text-align: center;
  color: white;
  font-size: 20px;
  width: 80%;
}

.button-container {
  position: absolute;
  padding-top: 1rem;
  bottom: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.general-button:hover {
  background-color: #393838;
}

.general-button:active {
  background-color: #393838;
}

//Landing
.general-button-transparent{
  margin-top:30px !important;
  width: 200px;

  font-weight: bold;
  height: 50px;
  background-color: transparent;
  color: $detail_2-color !important;
  border: 1px transparent solid !important;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  outline: 2px solid $detail_2-color;
  outline-offset: 2px;
}

.general-button-landing-reg{
  margin-top:40px !important;
  width: 200px;
  font-weight: bold;
  height: 50px;
  background-color: $detail_2-color !important;
  color: $tertiary-color !important;
  border: 1px transparent solid !important;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  outline: 2px solid $detail_2-color;
  outline-offset: 2px;
}

//Anmeldung/Registrierung

.anmeldung-validierung{
  text-align: center;
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.toggle-password-icon {
  position: absolute;
  top: 1.32rem;
  right: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: #6c757d;
}

.success-message {
  color: green;
  margin-top: 3rem;
}

.error-message {
  max-width: 250px;
  margin-top: 0.5rem;
  color: $tertiary-color;
  text-align:center;
}

.registrierung-hinweis{
  color: $detail_2-color;
}

.registrierung-hinweis a {
  color: $detail_2-color;
  font-weight: bold;
}

//Verfikation
.inputfeld-verifikation {
  width: 100%;
  font-size: 14px;
  text-align: center;
  max-width: 150px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 2rem;
  font-weight: bold;
  color:$detail_2-color
}

.general-button-verfikation{
  width: 180px;
  font-weight: bold;
  height: 42px;
  background-color: $detail_2-color !important;
  color: $tertiary-color !important;
  border: 1px transparent solid !important;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  outline: 2px solid $detail_2-color;
  outline-offset: 2px;
}

.buttons-container-verifikation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:2rem;
}

@media screen and (max-width: 750px) {
  .buttons-container-verifikation {
    display: flex;
    flex-direction: column;
  }
}

/*Rezepterstellung*/

.p-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.optional{
  font-size: 12px;
  color:white;
  margin-top: 1.5rem;

}

.required {
  color: white;
  margin-left: 5px;
}

.error-message {
  color: white;
  font-size: 0.9em;
}

.inputfeld::placeholder {
  color: gray;
}

.inputfeld.invalid::placeholder {
  color: red;
}

.inputfeld.invalid {
  border-color: red;
}



.screen{
  height: 100vh;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.zentriertes-formular {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.zentriertes-formular-anmeldung{
  margin-top: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputfeld {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  font-weight: bold;
  color:$detail_2-color
}

.inputfeld:focus{
  outline: 2px solid black;

}

.upload-button {
  margin-top: 15px;
  width: 100px;
  font-weight: bold;

  height: 40px;
  background-color: $secondary-color !important;
  color: $tertiary-color !important;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  outline: 2px solid $tertiary-color;
  outline-offset: 2px;
}

.upload-button .p-button-icon {
  color: white !important;
  background-color: transparent;
}

.upload-button .p-button {
  background-color: transparent !important;
  border: none;
  color: white;
}

.upload-button-label{
  display: inline-block;
  padding: 9px 40px;
  cursor: pointer;
  background-color: $secondary-color ;
  color: white;
  border-radius: 50px 0 0 50px ;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  outline: 2px solid $tertiary-color;
}

.upload-button-label input {
  display: none;
}

.bild-selected {
  background-color: black; /* Farbe, wenn ein Bild ausgewählt wurde */
}

.neues-rezept{
  margin-bottom:2rem;
  color: $tertiary-color$tertiary-color;
  font-size: 2.3rem;
  font-weight: bold;
}

.cropper-wrapper-box {
  max-height: 100vh;
}

.image-cropper-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  max-height: 100vh;
  justify-content: center;
}

.cropper  {
  margin-left: 20pxd;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.cropper img {
  margin-left: 20pxd;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.actions{
  z-index: 1000;
  margin-top: 10px;
}


.p-field {
  width: 100%;
  display: flex;
  justify-content: center;

}

.p-field:focus{
  outline: 2px solid black;
  outline-offset: 2px;
}



.p-button .p-button-label {
  padding: 5px;
  font-family: Calibri;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  color: $detail-color;
  border-radius: 50px;
  border:1px solid $color-start;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: none;
}

.zurueck-button {
  position: absolute;
  font-weight: bold;
  top: 10px;
  left: 10px;
  background: white;
  color: $detail-color;
  border-radius: 50px;
  border:1px solid $color-start;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: none;
}

.close-button:hover, .close-button:active, .zurueck-button:hover, .zurueck-button:active  {
  background-color: $detail_2-color;
  color: white;
  border:$detail_2-color;
}

.p-togglebutton.p-button {
  padding: 5px 10px;
  border-radius: 100px !important;

}


.toggle-buttons-container {
  width: 70%;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px auto;
}

.toggle-buttons-container p-toggleButton {
  flex-grow: 1;
  padding: 5px;
  box-sizing: border-box;
}

.p-togglebutton.p-highlight {
  background-color: black !important;
  color: white !important;
  border-color: black
}

.p-togglebutton.p-button-active {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
}

.p-togglebutton:focus {
  outline: 2px solid black;
  outline-offset: 2px;
  border-color: black !important;
}

// Dialog

.dialog{
  padding:0;
  display:flex;
  height:50px;
  justify-content:center;
  text-align: center;
}

p-dialog .p-dialog-header{
  padding:.3px;
}

.p-dialog-content{
  padding:0;
  padding-bottom: .3px;
  margin:0;
}

.dialog-message{
  padding:10px;
}

.custom-left {
  background-color: $detail_2-color;
  border: 2px solid $detail_2-color;
  color: $tertiary-color;
  width: 100px;
}

.custom-right {
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
  color: $tertiary-color;
  width: 100px;
}

.footer-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-buttons .custom-left, .footer-buttons .custom-right {
  margin: 0;
}

@media screen and (max-width: 750px) {

  .zentriertes-formular {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
  }

  .zentriertes-formular-anmeldung{
    margin-top: 15rem;
  }

  .p-table .p-tablewrapper table {
    display: flex;
    flex-direction:column;

  }

  .p-table .p-tablewrapper table tbody {
    display: block;
  }

  .p-table .p-tablewrapper table tbody tr {
    display: block;
    margin-bottom: 1rem;
  }

  th, td {
    display: block;
    width: 100%;
  }
}

.rezept-tabelle tr:hover {
  background-color: lightblue;
}

.markiertes-rezept {
  background-color: $detail_2-color;
}

.p-datatable .p-datatable-tbody > tr > td:hover {
  background-color: #c9d2e8;
  cursor: pointer;
}

.rechts-ausgerichtet {
  display: flex;
  justify-content: flex-end;
}

/*CameraKomponente*/

.camera-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.camera-container .upload-button-label {
  display: inline-block;
  padding: 9px 40px;
  cursor: pointer;
  background-color: $secondary-color ;
  color: white;
  justify-content: center;
  border-radius: 0 50px 50px 0;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  outline: 2px solid $tertiary-color;
}

.take-photo-button{
  display: inline-block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: $detail-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.flex_bildoptionen {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal-Hintergrund */
.camera-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8); /* Abdunkelung */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Überlagert das Formular */
}


/* Video */
video {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Schließen-Button */
.close-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: $secondary-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/*Seitenleiste*/

.such-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
}

$placeholder-color: whitesmoke;

.suchfeld {
  cursor: pointer;
  margin-right: 1rem;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  border-radius: 20px;
  outline: none;
  color: whitesmoke;
  font-size: 16px;
  width: 100px;
  padding: 7.5px;

  &::placeholder {
    color: $placeholder-color;
    transition: color 0.3s ease;
  }

  &:focus {
    border-color: $detail_color;
    box-shadow: 0 0 5px rgb(230, 87, 39);

    &::placeholder {
      color: transparent;
    }
  }

  &.active {
    opacity: 1;
  }
}


/*
.search-icon {
  cursor: pointer;
  color: black;
  margin-right: 20px;
  z-index:100;
}

.search-icon i {
  cursor: pointer;
  margin-top: 5px;
  font-size: 28px;
}*/

.weiss{
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}

.dropdown-close-button {
  display: none;
}

.dropdown-close-button:hover {
  background-color: dark$detail_2-color;
}

.erstellung-kategorie{
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top:2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.p-card-body{
  padding:0;
}

.p-card-content{
  padding: 0;
}

.tag-container{
  display:flex;
  flex-wrap:wrap;
}

p-tag + p-tag {
  margin-left: 0.5rem;
  padding:0;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.category-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding: 10px;
  background-color: $secondary-color !important;
  color: $tertiary-color !important;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  outline: 2px solid $tertiary-color;
}


.category-button.focus,
.category-button.active  {
  background-color: $detail_2-color;
  color: $tertiary-color
}

.tag-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #e0e0e0;
  border-radius: 25px;
  animation: fadeIn 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.tag {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin: 4px;
  background-color: #c3c3c3;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.tag:hover {
  background-color: #b0b0b0;
}

.tag.selected {
  background-color: $detail_2-color;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



.label-abstand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;

}

.linie-seite{
  color: $tertiary-color;
  border: 1px solid $tertiary-color;
}

.label-abstand span {
  color: $detail_2-color !important;
}

.mobile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}


.p-card-content{
  padding-bottom:0;
  margin-bottom:0;
  font-size: 8px;
}

.p-card-title {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: #f3f2f2;
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 4px;
}

.p-card-footer {
  position: absolute;
  top: 1px;
  right: 10px;
  display: flex;
  gap: 5px;
}

.p-card-footer button {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.p-card-footer button:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
}


.mahlzeiten{
  width: 100%;
  border-radius:5px;
  margin-bottom: 20px;
}

h3.weiss {

  margin-right: 20px;
  text-align: left;
}

.p-field-checkbox {
  display:flex;
  align-items:center;
  justify-content: flex-start;
  margin: 3px 0;
  flex-direction: column;
}

.filter-format {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.kuechen{
  border-radius:5px;
  width: 100%;
  text-align: left;
}

.seiten-ueberschrift{
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  font-size: 2.5rem;
  color: $tertiary-color;
  font-family: "Cooper Black";
  align-items: center;
  flex-grow: 1;
  text-align: left;
}

.button-row{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filter-button{
  background-color:transparent;
  border: none;
  padding: 0;
}

.pi pi-sliders-h{
  width:100%;
  height:auto;
}

.filter-icon {
  font-size: 35px;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  object-fit: contain;
  cursor: pointer;

  &:hover{
    background: white;
  }
}





.ki-button {
  background-color: #8f8d8c;
  color: white;
  padding: 12px 15px;
  border: 2px solid #c3bfbe;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  position: relative; /* Damit der Tooltip relativ zum Button platziert werden kann */
}

.tooltip-text {
  display: none;
  position: absolute;
  top: -33px;
  left: 50%;
  background-color: #f1f1f1;
  color: #0b0b0b;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  pointer-events: none; /* Verhindert, dass der Tooltip interaktiv wird */
}

.ki-button:hover .tooltip-text {
  display: block;
}



.container-listeninhalt {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(0, auto);
  grid-gap: 1rem;
  width: 100%;
  margin-bottom: 70px;
}


.p-card {
  position: relative;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  align-items: center;
  cursor: pointer;
  height: 300px;
  aspect-ratio: 9 / 16;
  box-sizing: border-box;
  background-color: orange;
  border-radius: 15px;
}

.rezept-image {
  cursor: pointer;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}


.p-card-footer {
  margin-top: auto;
  padding-top: 10px;
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.p-card-title {
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 4.5em;
  word-break: break-word;
  margin: 5px;
  text-decoration: underline;
  border: 1px solid transparent;
}

.platzhalter-rezeptbild {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 8px;
  min-height: 250px;
  padding: 15px;
}


.linie-unten {
  border: 0;
  height: 1px;
  background: #ffffff;
  margin-top: 20px;
  width: 100%;
}



.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.rezept-image-container img{
  cursor: pointer;
}

.rezept-image-full {
  width: 80vw;
  height: auto;
  border: 5px solid white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

/*
.seitenleiste .p-overlaypanel {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100vw !important;
  height: 100vh !important;
  z-index: 1050 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  overflow: auto;
}
*/

.seitenleiste {
  position: relative;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
}

.logout-button i {
  color: $detail_2-color;
}


/*Filtermenue-Overlay*/

.fullscreen-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 300px;
  position: relative;
  overflow-y: auto;
  max-height: 90vh;
}

.overlay-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-bottom: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-content {
  display: flex;
  justify-content: start;
  width: 100%;
  flex-wrap: wrap;
}

.filter-column {
  flex: 1;
  min-width: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.dropdown-content-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  color:black;
}

.checkbox-label-container {
  margin-bottom: 10px;
}

.filter-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.filter-button .filter-icon {
  color: white;
  transition: color 0.3s ease;
  background-color: transparent;
}

.filter-button.active .filter-icon {
  color: black;
  background-color: transparent;
}

.filter-button:hover .filter-icon {
  color: black;
  background-color: transparent;
}

.checkbox-label-container{
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 6px;
}

.filter-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  gap: 15px;
}

.filter-column {
  width: 100%;
  text-align: left;
  padding: 15px;
}

.filter-column h3 {
  margin-bottom: 10px;
  text-align: left;
}

.filter-column .p-checkbox .p-checkbox-box{
  box-sizing: border-box;
  width: 30px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-dropdown{
  font-size: 20px;
  padding-left: 8px;
}

.p-checkbox-box.p-highlight .p-checkbox-icon {
  color: white !important;
  background-color: $detail_2-color !important;
  border-color: $detail_2-color !important;
}

.p-checkbox .p-checkbox-box.p-highlight{
  border-color: $detail_2-color;
  background: $detail_2-color;
  box-shadow: $detail_2-color;
}

.dropdown-content,
.filter-column,
.label-dropdown {
  z-index: 1050;
}

/*Overlay Spoon*/

.custom-overlay-spoon {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay-content-spoon {
  background-color: whitesmoke;
  padding: 20px;
  padding-top: 50px;
  border-radius: 8px;
  width: 100%;
  max-width: 320px;
  position: relative;
  overflow-y: auto;
  min-height: 95vh;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.overlay-close-button {
  position: absolute;
  right: 10px;
  margin-bottom: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.recipe-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  flex-direction: column;
}

.recipe-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  border: 2px solid #e4e4e4;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 0;
  margin-bottom: 10px;
}

.recipe-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.recipe-image-container {
  position: relative;
  width: 100%;
  height: auto;

  overflow: hidden;
}

.recipe-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-title-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6); /* Halbtransparenter Hintergrund */
  color: white;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 8px;
  box-sizing: border-box;
  cursor: pointer;

}

.no-recipes-message {
  text-align: center;
  color: #fff;
  font-size: 1.25rem;
}

.gang-spoon{
 font-weight: bold;
  margin: 5px 0;
  color: $detail-color;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #000;
  padding: 20px;
}


@media screen and (max-width: 750px) {

  .custom-overlay {
    z-index: 9999;
    pointer-events: auto;
  }

  .overlay-content {
    height: 100vh;
    width: 100vw;
    pointer-events: auto;
  }

.label-dropdown{
  color:black;
}


  .button-row {
    gap:10rem;
    width: 100%;
  }

  .linie-seite {
    width: 5px;
    height: 50px;
    background: $tertiary-color;
    border: none;
    margin: 0 10px;
  }

  .mahlzeiten,
  .kuechen,
  .naehrwert{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .seiten-ueberschrift{
    display: flex;
    justify-content: left;
  }

  .weiss {
    margin: 0;
    text-align: left;
  }


  .listen-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    padding:.7rem;
    color:white;
    box-sizing: border-box;
    margin-bottom: 15px;
  }

  .container-listeninhalt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }


  .router-outlet-desktop {
    display: none;
  }

  .router-outlet-mobile {
    display: block;
  }
}

.trennungsstrich {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: white;
}

.dropdown-trennungsstrich {
  border-bottom: 1px solid #ccc;
  margin: 1.5rem 0;
  background-color: white;
}

/*Rezept-Hinzufügen-Button*/

.floating-button {

  position: fixed;
  bottom: 50px;
  right: 420px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: $detail_2-color;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: background-color 0.3s;
}



.floating-button:hover {
  transform: translateY(1px);
  background-color: dark$detail_2-color;
}

.rezept-darstellung {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}



.rezept-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: default;

}



@media screen and (max-width: 750px) {
  .floating-button {
    font-size: 16px;
    right: 25px;
    bottom: 35px;
  }
}

/*Router-Outlet*/
.router-outlet-desktop {
  display: block;
}


.router-outlet-mobile {
  display: none;
}

/*Tableiste*/


.tab-bar {
  position: fixed;
  bottom: 0;
  width: 40%;
  display: flex;
  background-color: #f8f9fa;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  padding: 8px 0;
  border-radius: 5px;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  flex: 1;
  color: #333;
  text-align: center;
  position: relative;

}

.tab:hover {
  background-color: #f8f9fa;
  color: #007bff;
}

.tab::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 12px;
  white-space: pre-line;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10;
}


.tab.active::after {
  opacity: 1;
  visibility: visible;
}

.pi.pi-bars {
  margin-bottom: 5px !important;
}


@media screen and (max-width: 750px) {

  .tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    background-color: #f8f9fa;
    justify-content: center;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    padding: 8px 0;
  }

  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    flex: 1;
    color: #333;
    text-align: center;
  }

  .tab::after {
    font-size: 10px;
    padding: 4px 8px;
  }
}

  button.tab {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  button.tab .pi {
    margin-bottom: 5px;
  }


  .logout-button {
    margin-left: 0;
  }

  .app-rezept-hinzufuegen-button {
    flex: 1;
  }

/*Header*/

.header{
  display: flex;
  margin-bottom: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

/*Datenschutz*/

.contact-info {
  padding-top: 10px;
  border-top: 1px solid #ccc;
  margin-bottom: 3rem;
}
