@media screen and (max-width: 768px) {

  .p-table .p-tablewrapper table {
    display: flex;
    flex-direction:column;

  }

  .p-table .p-tablewrapper table tbody {
    display: block;
  }

  .p-table .p-tablewrapper table tbody tr {
    display: block;
    margin-bottom: 1rem;
  }

  th, td {
    display: block;
    width: 100%;
  }
}

.rezept-tabelle tr:hover {
  background-color: lightblue;
}


.markiertes-rezept {
  background-color: red;
}



.p-datatable .p-datatable-tbody > tr > td:hover {
  background-color: #c9d2e8;
  cursor: pointer;
}
