@import '~primeng/resources/primeng.min.css'; // Stellen Sie sicher, dass der Pfad korrekt ist
@import '~primeicons/primeicons.css'; // Dies sollte der korrekte Pfad sein


$primary-color: #424242;
$secondary-color: #f5f5f5;
$tertiary-color: white;

* {font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;}

@media screen and (max-width: 768px) {

  .p-table .p-tablewrapper table {
    display: flex;
    flex-direction:column;

  }

  .p-table .p-tablewrapper table tbody {
    display: block;
  }

  .p-table .p-tablewrapper table tbody tr {
    display: block;
    margin-bottom: 1rem;
  }

  th, td {
    display: block;
    width: 100%;
  }
}

.rezept-tabelle tr:hover {
  background-color: lightblue;
}

.markiertes-rezept {
  background-color: red;
}

.p-datatable .p-datatable-tbody > tr > td:hover {
  background-color: #c9d2e8;
  cursor: pointer;
}

.rechts-ausgerichtet {
  display: flex;
  justify-content: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 10px;
  background-color: #575e65;
  color:white;
  padding: 1rem;

}


/*Seitenleiste*/

.hellgruen {
  color: #8FBC8F; /* Hellgrün */
}

.orange {
  color: #FFA500; /* Orange */
}

.rot {
  color: #FF0000; /* Rot */
}


.filter-sidebar {
  width: 250px;
  background: #f8f9fa;
}

.filter-sidebar h3 {
  padding: 0.5em;
  margin: 0;
  background: #dee2e6;
  color: #495057;
}

.filter-sidebar .p-field-checkbox {
  margin: 0.5em;
}

.tag-container{
  display:flex;
  flex-wrap:wrap;
}

p-tag + p-tag {
  margin-left: 0.5rem;
  padding:0;
}

.p-checkbox .p-checkbox-box {
  width: 1rem;
  height: 1rem;
}

.p-checkbox .p-checkbox-icon {
  font-size: 0.25rem;
  background-color:#575e65;
}

.p-field-checkbox {
  margin-bottom: 0.3rem;
}

.label-abstand {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

.mobile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 0.5rem;*/
  border-bottom: 1px solid #ccc;
/*  margin-bottom: 5px;*/
}

.p-card .p-card-body{
  padding-bottom:0;
  margin:0;
}

.p-card-body{
  padding-bottom:0;
}

.p-card {
  display: flex;
  flex: 0 1 calc(33.333% - 20px);
  flex-direction: column;
  padding-bottom:0;
  justify-content: space-between; /* Stellt sicher, dass der Footer am unteren Rand der Karte bleibt */
}


.p-card-content{
  padding-bottom:0;
  margin-bottom:0;
  font-size: 12px;
}

.p-card-title{
  display: flex;
  justify-content:center;
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.p-card-footer{
  display: flex;
  justify-content:center;
}

.p-card .p-card-footer{
  padding-top:0;
}

.clickable-card {
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .seitenleiste {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    order: -1;
    width: 100%;
    padding: 10px;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container-listeninhalt{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .p-card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 0 1 calc(50% - 20px); /* Zwei Karten pro Zeile in kleineren Ansichten */
  }
}

@media (max-width: 480px) {
  .p-card {
    flex: 0 1 100%; /* Eine Karte pro Zeile in sehr kleinen Ansichten */
  }
}

/*Rezept-Hinzufügen-Button*/

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  outline: none;
  transition: background-color 0.3s;
}

.floating-button:hover {
  background-color: darkred;
}
