@import '~primeng/resources/primeng.min.css';
@import '~primeicons/primeicons.css';
@import 'primeflex/primeflex.css';


$color-start: #f6a257;
$color-end: #b34f09;

body {
  background: linear-gradient(to bottom,$color-start, $color-end);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin:5% 30%;
}
h1{
  color: white;
}

a {
  color: black;
  text-decoration: none;
}

$primary-color: #b61919;
$secondary-color: #d8620f;
$tertiary-color: #e6e5e5;

$detail-color: #000000; ;
$detail_2-color: #221f1f;

* {font-family: "Calibri","proxima nova light", "Helvetica Neue", "Swiss 7","Verdana", sans-serif;}


.general-button {
  margin-top:75px !important;
  width: 200px;
  font-weight: bold;
  height: 50px;
  background-color: $detail_2-color !important;
  color: $tertiary-color !important;
  border: 1px transparent solid !important;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  outline: 2px solid $detail_2-color;
  outline-offset: 2px;
}


@media screen and (max-width: 750px) {
  body {
    margin: 0
  }
}

/*Intro*/

.splash-screen{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100vh;
}

@keyframes fadeInAndCook {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}


.splash-titel{
  font-size:30px;
  font-family: "Cooper Black";
  margin: 15px 0;

  color:white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeInAndCook 2s ease-in-out;

  text-shadow:
    -1px -1px 0 grey,
    1px -1px 0 grey,
    -1px  1px 0 grey,
    1px  1px 0 grey;
}

.splash-image {
  max-width: 50%;
  margin-left:10px;
  height: auto;
  animation: fadeInAndCook 2s ease-in-out;
}

.splash-image-turnedaround{
  max-width: 50%;
  left: 10px;
  height: auto;
  animation: fadeInAndCook 2s ease-in-out;


}


.intro-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  padding-top: 20px;
  box-sizing: border-box;
  background-color:$detail-color;
}

.intro-slogan{
  font-size:30px;
  font-weight:bolder;
  color:white;
  padding: 0 30px;
  text-align:center;
  margin-bottom: 120px;
}

.intro-text{
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-size: 20px;
  width: 80%;
}

.button-container {
  position: absolute;
  bottom: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.general-button:hover {
  background-color: #393838;
}

.general-button:active {
  background-color: #393838;
}

//Anmeldung/Registrierung

.anmeldung-validierung{
  text-align: center;
}

.success-message {
  color: green;
  margin-top: 3rem;
}

.error-message {
  color: #ffffff;
  margin-top: 3rem;
}

.registrierung-hinweis{
  color: $detail_2-color;
}

.registrierung-hinweis a {
  color: $detail_2-color;
  font-weight: bold;
}

/*Rezepterstellung*/

.p-fluid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.optional{
  font-size: 12px;
  color:white;
  margin-top: 1.5rem;

}

.required {
  color: white;
  margin-left: 5px;
}

.error-message {
  color: white;
  font-size: 0.9em;
}

.inputfeld::placeholder {
  color: gray;
}

.inputfeld.invalid::placeholder {
  color: red;
}

.inputfeld.invalid {
  border-color: red;
}



.screen{
  height: 100vh;
  width: 100%;
  display:flex;
  justify-content: center;
  align-items:center;
}

.zentriertes-formular {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}



.inputfeld {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  font-weight: bold;
  color:$detail_2-color
}

.inputfeld:focus{
  outline: 2px solid black;

}

.upload-button {
  margin-top: 15px;
  width: 100px;
  font-weight: bold;
  height: 40px;
  background-color: $secondary-color !important;
  color: $tertiary-color !important;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
  outline: 2px solid $tertiary-color;
  outline-offset: 2px;
}

.upload-button .p-button-icon {
  color: white !important;
  background-color: transparent;
}

.upload-button .p-button {
  background-color: transparent !important;
  border: none;
  color: white;
}

.upload-button-label{
  display: inline-block;
  padding: 9px 40px;
  cursor: pointer;
  background-color: $secondary-color ;
  color: white; /* Beispiel f체r Schriftfarbe */
  border-radius: 50px; /* Abgerundete Ecken */
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
  outline: 2px solid $tertiary-color;
  outline-offset: 2px;
}

.upload-button-label input {
  display: none;
}

.bild-selected {
  background-color: black; /* Farbe, wenn ein Bild ausgew채hlt wurde */
}

.neues-rezept{
  margin-bottom:2rem;
  color: $tertiary-color;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}


.p-field {
  width: 100%;
  display: flex;
  justify-content: center;

}

.p-field:focus{
  outline: 2px solid black;
  outline-offset: 2px;
}



.p-button .p-button-label {
  padding: 5px;
  font-family: Calibri;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  color: $detail-color;
  border-radius: 50px;
  border:1px solid $color-start;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: none;
}

.zurueck-button {
  position: absolute;
  font-weight: bold;
  top: 10px;
  left: 10px;
  background: white;
  color: $detail-color;
  border-radius: 50px;
  border:1px solid $color-start;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: none;
}

.close-button:hover, .close-button:active, .zurueck-button:hover, .zurueck-button:active  {
  background-color: $detail_2-color;
  color: white;
  border:$detail_2-color;
}

.p-togglebutton.p-button {
  padding: 5px 10px;
  border-radius: 100px !important;

}


.toggle-buttons-container {
  width: 70%;
  max-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 10px auto;
}

.toggle-buttons-container p-toggleButton {
  flex-grow: 1;
  padding: 5px;
  box-sizing: border-box;
}

.p-togglebutton.p-highlight {
  background-color: black !important;
  color: white !important;
  border-color: black
}

.p-togglebutton.p-button-active {
  background-color: black !important;
  color: white !important;
  border-color: black !important;
}

.p-togglebutton:focus {
  outline: 2px solid black;
  outline-offset: 2px;
  border-color: black !important;
}

// Dialog

.dialog{
  padding:0;
  display:flex;
  height:50px;
  justify-content:center;
  text-align: center;
}

p-dialog .p-dialog-header{
  padding:.3px;
}

.p-dialog-content{
  padding:0;
  padding-bottom: .3px;
  margin:0;
}

.dialog-message{
}

.custom-left {
  background-color: $detail_2-color;
  border: 2px solid $detail_2-color;
  color: $tertiary-color;
  width: 100px;
}

.custom-right {
  background-color: $secondary-color;
  border: 2px solid $secondary-color;
  color: $tertiary-color;
  width: 100px;
}

.footer-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.footer-buttons .custom-left, .footer-buttons .custom-right {
  margin: 0;
}

@media screen and (max-width: 750px) {

  .zentriertes-formular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
  }

  .p-table .p-tablewrapper table {
    display: flex;
    flex-direction:column;

  }

  .p-table .p-tablewrapper table tbody {
    display: block;
  }

  .p-table .p-tablewrapper table tbody tr {
    display: block;
    margin-bottom: 1rem;
  }

  th, td {
    display: block;
    width: 100%;
  }
}

.rezept-tabelle tr:hover {
  background-color: lightblue;
}

.markiertes-rezept {
  background-color: $detail_2-color;
}

.p-datatable .p-datatable-tbody > tr > td:hover {
  background-color: #c9d2e8;
  cursor: pointer;
}

.rechts-ausgerichtet {
  display: flex;
  justify-content: flex-end;
}



/*Seitenleiste*/



.weiss{
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
}


.erstellung-kategorie{
  font-size: 18px;
  width: 100%;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top:2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.p-card-body{
  padding:0;
}

.p-card-content{
  padding: 0;
}


.tag-container{
  display:flex;
  flex-wrap:wrap;
}

p-tag + p-tag {
  margin-left: 0.5rem;
  padding:0;
}

.p-checkbox .p-checkbox-box {
  width: 1rem;
  height: 1rem;
}

.p-checkbox .p-checkbox-icon {
  font-size: 0.25rem;
  background-color:#575e65;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2rem;
}

.category-button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px;
  height: 40px;
  padding: 10px;
  background-color: $secondary-color !important;
  color: $tertiary-color !important;
  cursor: pointer;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  outline: 2px solid $tertiary-color;
}


.category-button.focus,
.category-button.active  {
  background-color: $detail_2-color;
  color: $tertiary-color
}

.tag-panel {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 16px;
  padding: 8px;
  background-color: #e0e0e0;
  border-radius: 5px;
  animation: fadeIn 0.3s ease-in-out;
}

.tag {
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
  margin: 4px;
  background-color: #d1d1d1;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.tag:hover {
  background-color: #b0b0b0;
}

.tag.selected {
  background-color: $detail_2-color;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}



.label-abstand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;

}

.linie-seite{
  color: $tertiary-color;
  border: 1px solid $tertiary-color;
}

.label-abstand span {
  color: $detail_2-color !important;
}

.mobile-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}


.p-card-content{
  padding-bottom:0;
  margin-bottom:0;
  font-size: 8px;
}

.p-card-title{
  display: flex;
  justify-content:center;
  font-size: 14px !important;
  font-weight: bold;

  color:$detail_2-color;
  background-color: white;
}

.p-card-footer{
  background-color: white;
  display: flex;
  justify-content:center;
  padding-top:0;
}

.p-card .p-card-footer{
  padding-top: 0 !important;
}


.mahlzeiten{
  width: 100%;
  border-radius:5px;
  margin-bottom: 20px;
}

h3.weiss {

 margin-right: 20px;
 text-align: left;
}

.p-field-checkbox {
  display:flex;
  align-items:center;
  justify-content: flex-start;
  margin: 3px 0;
  flex-direction: column;
}

.filter-format {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.kuechen{
  border-radius:5px;
  width: 100%;
  text-align: left;
}

.seiten-ueberschrift{
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: $tertiary-color;
  font-family: "Cooper Black";
  align-items: center;
}

.p-card {
  width: 80%;
  margin: 15px 0;
  height: 125px;
  display: flex;
  flex:  none;
  flex-direction: column;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.filter-button-container {
  position: relative; /* F체r das Dropdown */
}

.filter-button {
  background: linear-gradient(135deg, #dc6c40, #e65727); /* Farbverlauf */
  color: white;
  padding: 12px 20px;
  border: 2px solid #e65727;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.filter-button i {
  margin-right: 8px;
}

.filter-button:hover {
  background: linear-gradient(135deg, #252424, #373535) !important;
  transform: translateY(-2px)!important;
  border: 2px solid $detail_2-color!important;
}

.filter-button:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}




.dropdown {
  position: relative;
  width: 100%;
  margin-top: 10px;
}


.dropdown-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: black;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 1000;
  max-height: none;
  overflow-y: auto;
}

.filter-column {
  width: 60%;
}

.filter-column h3 {
  margin-bottom: 10px;
  text-align: left;
}

.container-listeninhalt {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(0, auto);
  width: 100%;
  padding-top: 20px;
}

.clickable-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  height: 100%;
  max-width: 100%;
  box-sizing: border-box;
  gap:1rem;
  flex: 0 1 auto;
}

.p-card-footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
}

.p-card-title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5em;
  max-height: 4.5em;
  word-break: break-word;
}


.linie-unten {
  border: 0;
  height: 1px;
  background: #ffffff;
  margin-top: 20px;
  width: 100%;
}

.p-checkbox-box.p-highlight .p-checkbox-icon {
  color: white !important;
  background-color: $detail_2-color !important;
  border-color: $detail_2-color !important;
}

.p-checkbox .p-checkbox-box.p-highlight{
  border-color: $detail_2-color;
  background: $detail_2-color;
  box-shadow: $detail_2-color;
}

.p-checbkbox

.rezept-image {
  cursor: pointer;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.rezept-image-full {
  width: 100vw;
  height: auto;
  border: 5px solid white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

.seitenleiste {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  order: -1;
  width: 100%;
  align-items: center;
}


@media screen and (max-width: 750px) {

  .filter-button {

    &:active {
      background: linear-gradient(135deg, #373535, #252424);
      transform: translateY(1px);
    }
  }

  .linie-seite {
    width: 5px;
    height: 50px;
    background: $tertiary-color;
    border: none;
    margin: 0 10px;
  }

  .mahlzeiten,
  .kuechen,
  .naehrwert{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
  }

  .weiss {
    margin: 0;
    text-align: left;
  }


  .grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding:.7rem;
    color:white;
  }

  .container-listeninhalt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 17px;
    align-items: start;
    margin-top:.5rem;
  }

  .p-card {
    width: 100%;
     margin:0;
    height: 220px;
    display: flex;
    flex:  none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .clickable-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
  }

    .scroll-indicator {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 200px;
      background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.7) 100%);

      pointer-events: none;
      z-index: 1000;
    }


  .router-outlet-desktop {
      display: none;
    }

    .router-outlet-mobile {
      display: block;
    }


  }


.trennungsstrich {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  background-color: white;
}

/*Rezept-Hinzuf체gen-Button*/

.floating-button {
  position: fixed;
  bottom: 50px;
  right: 475px;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: $detail_2-color;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  outline: none;
  transition: background-color 0.3s;
}

.floating-button:hover {
  background-color: dark$detail_2-color;
}

.rezept-darstellung {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;

}

.rezept-image {
  width: 100%;
  height: auto;
  max-width: 200px;
}


@media screen and (max-width: 750px) {
.floating-button {
  right: 25px;
  bottom: 35px;
}
}
/*Router-Outlet*/

/* Standard-Layout */
.router-outlet-desktop {
  display: block;
}

/* Mobile Layout */
.router-outlet-mobile {
  display: none;
}


