<div class="tab-bar" >

  <button class="tab"
          data-tooltip="Demnächst verfügbar"
          (click)="toggleTooltip($event)">
    <i class="pi pi-android"></i>
    <span>WishADish</span>
  </button>

  <div class="tab" >
    <app-rezept-hinzufuegen-button></app-rezept-hinzufuegen-button>
  </div>

  <button class="tab"  (click)="navigateDatenschutz($event)">
    <i class="pi pi-cog"></i>
    <span>Konto</span>
  </button>

  <button class="tab logout-button" (click)="logoutUser($event)">
    <i class="pi pi-sign-out"></i>
    <span>Logout</span>

  </button>
</div>
