<div>
<div class="filter-kreis-container">
  <div *ngIf="selectedTags.length > 0">
    <app-filterkreise  *ngFor="let tag of selectedTags" [label]="tag"  (tagRemoved)="onTagRemoved(tag)" class="filterkreis">
    </app-filterkreise>
  </div>
  <div *ngIf="selectedTags.length > 0" class="filterkreis-clear" (click)="clearTags()" icon="pi pi-trash">X</div>
</div>
<div class="container-listeninhalt">

  <div *ngFor="let rezept of gefilterteRezepte">
    <p-card>
      <div class="rezept-container">

        <div class="rezept-image-container">
          <img
            *ngIf="rezept.bildUrl; else defaultImage"
            [src]="rezept.bildUrl"
            alt="{{ rezept.name }}"
            (click)="openImageFullscreen(rezept.bildUrl)"
          />
          <ng-template #defaultImage>
            <div >
              <img src="assets/plate.webp" alt="Standardbild">
            </div>
          </ng-template>
        </div>
        <div class="p-card-title"  (click)="openUrl(rezept.onlineAdresse)">{{ rezept.name }} </div>
        <div class="p-card-footer">
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            (click)="navigateForm(rezept, $event)"
            class="edit-button"
          ></button>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            (click)="showDeleteDialog(rezept.id)"
            class="delete-button"
          ></button>
        </div>
      </div>
    </p-card>
  </div>
  <app-dialog  [(visible)]="displayDeleteDialog" (confirm)="confirmDelete($event)"></app-dialog>
</div>
</div>
