<div class="container-listeninhalt">
  <div *ngFor="let rezept of gefilterteRezepte" class="p-col-12 p-md-6 p-lg-4">
    <p-card class="clickable-card" (click)="openUrl(rezept.onlineAdresse)">
      <div class="p-card-title">{{ rezept.name }}</div>
      <div class="trennungsstrich"></div>
      <div class="p-card-footer" (click)="$event.stopPropagation()">
        <button pButton type="button" icon="pi pi-pencil" (click)="navigateForm(rezept, $event); $event.stopPropagation()" class="p-button-text"></button>
        <button pButton type="button" icon="pi pi-trash" (click)="showDeleteDialog(rezept.id); $event.stopPropagation()" class="p-button-danger p-button-text"></button>
      </div>
    </p-card>
  </div>
  <app-dialog [(visible)]="displayDeleteDialog" (confirm)="confirmDelete($event)"></app-dialog>
  <app-rezept-hinzufuegen-button></app-rezept-hinzufuegen-button>
</div>


