<div class="screen">
  <div class="zentriertes-formular">
    <button class="zurueck-button" (click)="navigateAnmeldung($event)" style="position: absolute; top: 10px; left: 10px;"><</button>
    <h1>Registrierung</h1>
    <form (ngSubmit)="onRegister()">
      <div class="p-fluid">
        <div class="p-field">
          <input class="inputfeld" placeholder="E-Mail" type="text" [(ngModel)]="email" required name="email" pInputText>
        </div>
        <div class="p-field">
          <input class="inputfeld" placeholder="Passwort" type="password" [(ngModel)]="password" required name="password" pInputText>
          <i class="pi" [ngClass]="{'pi-eye': !showPassword, 'pi-eye-slash': showPassword}" (click)="togglePasswordVisibility()"></i>
        </div>
        <br>
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
        <button class="general-button" type="submit" pButton>Registrieren</button>
      </div>
    </form>
  </div>
</div>
